body{
    background-color: bisque
}
.div1{
    border: 2px solid #111;
    height: 600px;
    width: 600px;
    background:white;
    margin: 0 auto;
    text-align: center;
    transform: translate(400px,170px)
    rotate(30deg);

}
.div2{
    border: 2px solid #111;
    height: 600px;
    width: 600px;
    background:white;
    margin: 20px auto;
    text-align: center;
    transform: translate(400px, 500px)
    rotate(-30deg);
}
