*{
    box-sizing: border-box;
}
body{
     width: 100%;
     margin: 0 auto;
     background-color: lightgoldenrodyellow;
}
#main{
    background-color: rgb(250, 242, 224);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
/* #mydiv{
    width: 30%;
    background-color: lightgreen;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}
#div1{
    width: 100%;
    padding: 40px;
    background: yellow;
}
#div2{
    width: 100px;
    height: 100px;
    background: green;
    margin: 0 auto;
    text-align: center;
}
#header{
    width: 50%;
    height: 150px;
    background: lightgray;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
} */
header{
    width: 100%;
    border: 1px solid darkgoldenrod;
    position: relative;
}
#main_title{
    padding: 10px;
}
header h1{
    font-weight: normal;
}
header h2{
    font-weight: normal;
    margin-top: 0px;
}
header h1,#logo{
    display: inline-block;
    margin-bottom: 0px;
}
nav{
    position: absolute;
    right: 20px;
    bottom: 10px;
    /* position ro baiad az header taghir bedem wa position text wa baghia chez ha ra az nav */
}
nav a{
    padding: 10px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #760001;
}
#banner_image{
    height: 200px;
    background: url('images/banner_image.jpg');
    background-position: center center;
    position: relative;
    border: 1px solid darkgoldenrod;
    margin-top: 15px;
    margin-bottom: 15px;
}
#banner_description{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    height: 33px;
    background-color: rgba(24,24,24,0.8);
    padding-top: 7px;
    padding-left: 6px;
}
.red_button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 3px;
}
article{
    width: 60%;
}
#logo2{
    vertical-align: middle;
}
aside{
    width: 40%;
    color: white;
    background-color: #706b64;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
}
aside h1{
    text-align: center;
    font-size: 1.5em;
}
article,aside{
    float: left;
    text-align: justify;
    padding: 10px;
}
#asideimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.social-media{
    text-align: center;
}
.social-media img{
    margin-right: 5px;
}
footer{
    width: 100%;
    display: inline-block;
}
#tweet, #my_pictures, #my_friends{
    float: left;
    vertical-align: top;
    display: inline block;
}
#tweet{
    width: 28%
}
#tweet h1, #my_friends h1, #my_pictures h1{
    font-weight: normal;
}
#my_pictures{
    width: 35%;
}
#my_pictures img{
    border: 1px solid #181818;
}
#my_friends{
    width: 35%;
}
#my_friends ul{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding-left: 12px;
    margin-top: 0px;
    list-style-image: url('images/list.png');
}
#my_friends a{
    text-decoration: none;
    color: #760001;
}
/* ein tag payen ke ba name media screen ast tamame website mara responsive mekona wa har bakhsh ba tag makhsos khodesh metanem ke bain ein tag neweshta konem ta version mobile ya amo responsive ba dest byaya */
@media screen and (max-width: 600px) {
    nav{
        position: relative;
        text-align: center;
        bottom: 0px;
        right: 0px;
    }
 
    nav a, aside, article, #my_pictures, #tweet,#my_friends, ul{
        display: block;
        width: 100%;
    }
    #banner_image{
        background-position: center center;
    }
    #banner_description{
        height: auto;
    }
    .red_button{
        position: relative;
        display: inline-block;
        bottom: 0px;
        right: 0px;
        text-align: center;
    }
    #my_pictures, #my_friends, #tweet{
        text-align: center;
        
        
    }
    #main_title{
        display: block;
        width: 100%;
        text-align: center;
    }
}