*{
    box-sizing: border-box;
}
body{
    width: 
    
}
#main{
    background-color: lightgreen;
    width: 60%;
    margin: 0 auto;
}
/* #mydiv{
    width: 30%;
    background-color: lightgreen;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}
#div1{
    width: 100%;
    padding: 40px;
    background: yellow;
    
}
#div2{
    width: 100px;
    height: 100px;
    background: green;
    margin: 0 auto;
    text-align: center;

}
#header{
    width: 50%;
    height: 150px;
    background: lightgray;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
} */
header{
    width: 100%;
    border: 1px solid darkgoldenrod;
    position: relative;
}
#main_title{
    padding: 10px;
}
header h1{
    font-weight: normal;
}
header h2{
    font-weight: normal;
    margin-top: 0px;
}
header h1,#logo{
    display: inline-block;
    margin-bottom: 0px;
}
nav{
    position: absolute;
    right: 20px;
    bottom: 10px;
    /* position ro baiad az header taghir bedem wa position text wa baghia chez ha ra az nav */

}
nav a{
    padding: 10px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #760001;
}
#banner_image{
    height: 200px;
    background: url('images/banner_image.jpg') ;
    position: relative;
    border: 1px solid darkgoldenrod;
    margin-top: 15px;
    margin-bottom: 15px;
}
#banner_description{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    height: 33px;
    background-color: rgba(24,24,24,0.8);
    padding-top: 7px;
    padding-left: 6px;
}
.red_button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 3px;

}
article{
    width: 60%;
}
#logo2{
    vertical-align: middle;
}
aside{
    width: 40%;
    color: white;
    background-color: #706b64;
    padding: 10px;
}
article,aside{
    float: left;
    border: 1px solid darkgoldenrod;
    text-align: justify;
    padding: 10px;
}
footer{
    width: 100%;
    display: inline-block;
    border: 1px solid darkgoldenrod;
}
#tweet, #my_pictures, #myfriends{
    float: left;
    width: 33%;
}